@model List<MusteriBakiyeSeyri.DTOs.MusteriFatura.MusteriFaturaListDto>

<h3>Müşteri Fatura Listesi</h3>

<a class="btn btn-primary mb-3" asp-action="Create">Yeni Müşteri Faturası Ekle</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Unvan</th>
            <th>Odeme Tarihi</th>
            <th>Fatura Tarihi</th>
            <th>Fatura Tutari</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.MusteriUnvan</td>
                <td>@item.OdemeTarihi</td>
                <td>@item.FaturaTarihi</td>
                <td>@item.FaturaTutari</td>

                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>